body {
  background: black;
}

.logo {
  color: white;
  font-size: sans-serif;
}

.main-btn {
  background: lightgreen;
  border-radius: 25px;
  width: 250px;
  font-size: 25px;
  height: 50px;
}

.main-btn:hover {
  background: lightgreen;
}
